<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minisec.user.model.dao.order.OrderDetailDao">

    <insert id="insertOrderDetailList" parameterType="list">
        INSERT INTO
            user_order_detail
                (
                  user_order_id
                , product_id
                , user_order_detail_quantity
                , user_order_detail_price
                , created_at
                , modified_at
                )
        VALUES
        <foreach collection="list" item="order" separator=",">
            <foreach collection="order.orderProducts" item="item" separator=",">
                (
                  #{order.orderId}
                , #{item.product.productId}
                , #{item.quantity}
                , #{item.totalPrice}
                , NOW()
                , NOW()
                )
            </foreach>
        </foreach>
    </insert>

</mapper>