<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minisec.warehouse.model.dao.StorageMapper">

    <resultMap id="StorageResultMap" type="StorageDto">
        <result property="storageId" column="storage_id"/>
        <result property="warehouseId" column="warehouse_id"/>
        <result property="productId" column="product_id"/>
        <result property="supplierName" column="supplier_name"/>
        <result property="storageQuantity" column="storage_quantity"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>


    <!--db 업데이트 -->
    <update id="updateStorageQuantity">
        UPDATE
            storage
        SET storage_quantity = #{newQuantity}
        WHERE storage_id = #{storageId}
    </update>


    <select id="selectAllStorage" resultMap="StorageResultMap">
        SELECT storage_id,
               warehouse_id,
               product_id,
               supplier_name,
               storage_quantity,
               created_at
        FROM storage
    </select>


    <insert id="insertWarehouseReceiveLog" parameterType="StorageDto">
        INSERT INTO
            warehouse_receive_log (
                    warehouse_id,
                    product_id,
                    supplier_name,
                    warehouse_receive_quantity,
                    created_at
                )
        VALUES (
                #{warehouseId},
                #{productId},
                #{supplierName},
                #{storageQuantity},
                NOW()
               )
    </insert>
</mapper>
